<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- <link rel="stylesheet" href="main.css"/> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <!-- 글씨체 -->

    <!-- css -->
    <link href="/css/manager/common.css" rel="stylesheet">
    <link href="/css/manager/admin.css" rel="stylesheet">
    <title>관리자 페이지</title>
</head>
<body>

    <!--sidebar-->
    <div class="sidebar">
        {{>manager/sidebar}}
    </div>
    <!--/sidebar-->

    <!--content-->
    <div class="content">
        <!--header-->
        {{>manager/header}}
        <!--header-->

        <!--section-->
        <!-- 여기에 코드 넣으세요 -->
        <section>
            <div>
                <span class="title">관리자 페이지</span>
                <ul class="admin-manage">
                    <li>
                        <a href="/lectureMng">
                            <div type="button" class="img-button">
                                <img class="image" src="img/class.png">
                            </div>
                        </a>
                        <span>
                            강좌 관리
                        </span>
                    </li>
                    <li>
                        <a href="/required">
                            <div type="button" class="img-button">
                                <img class="image" src="img/must-have.svg">
                            </div>
                        </a>
                        <span>
                            필수강좌관리
                        </span>
                    </li>
                    <li>
                        <a href="/category_theme">
                            <div type="button" class="img-button">
                                <img class="image" src="img/category.png">
                            </div>
                        </a>
                        <span>
                            카테고리관리
                        </span>
                    </li>
                    <li>
                        <a href="/academy/getList?curpage=0">
                            <div type="button" class="img-button">
                                <img class="image" src="img/inst.png">
                            </div>
                        </a>
                        <span>
                        교육 기관
                        </span>
                    </li>

                    <li>
                        <a href="/admin/admin_auth">
                            <div type="button" class="img-button">
                                <img class="image" src="img/diagram.svg">
                            </div>
                        </a>
                        <span>
                            관리자<br>권한관리
                        </span>
                    </li>
                    <li>
                        <a href="/guide">
                            <div type="button" class="img-button">
                                <img class="image" src="img/info.png">
                            </div>
                        </a>
                        <span>
                            공지사항
                        </span>
                    </li>
                </ul>
            </div>
        </section>
        <!--/section-->

        {{>manager/footer}}
    </div>
    <!--content-->
</body>

</html>
