.theme_div{
    display: block; 
    width: 100%;
}

.class_manage {
    margin-top: 20px;
    width: 100%;
    border: none;
}

.class_manage > thead > tr {
    border: 1px solid rgb(86, 84, 121);
}

.class_manage > tbody {
    background-color: rgb(226, 232, 245);
    border: none;
}
.table-hover{
    margin-top: 50px;
    width: 100%;
}

.tab1_header{
    background-color: rgb(67, 175, 218);
}

.subject_manage{
    border: none;
    text-align: center;
}

.btn_modify, .btn_add{
    border-radius: 5px;
    height: 27px;
}

.btn_modify {
    background-color: rgb(9, 9, 77);
    color: whitesmoke;
}

.btn_add{
    background-color: rgb(153, 71, 4);
    color: whitesmoke;
    border: none;
}

.btn_delete{
font-size: 15px;
width: 35px;
border-radius: 5px;
background-color: rgb(122, 17, 17);
color: whitesmoke;
}
