.add_cate_title {
    text-align: center;
    font-size: 25px;
}

.add_cate_div {
    background-color: rgb(91, 114, 141);
    width: 500px;
    margin: 0 auto;
    padding: 20px ;
    text-align: center;
}

.add_cate_div > h4 {
    margin: auto;
    font-size: 20spx;
    color: white;
    margin-bottom: 10px;
    float: left;
}

.div-info {
    margin: auto;
}
.update_category_info_box {
    height: 30px;
    width: 350px;
    border-radius: 10px;
    border: 2px solid rgb(171, 171, 202);
}

.pw-box {
    margin-top: 30px;
    margin-left: 10px;
    border-radius: 5px;
    height: 30px;
    background-color: rgb(26, 107, 173);
    color: whitesmoke;
    border: 2px solid rgb(20, 69, 109);
}