<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CategoryByLectureMapper">

    <!-- 카테고리
    <resultMap type="LectureCategory" id="lectureCategoryResultMap">
        <result property="categoryId" column="category_id"></result>
        <result property="depth1Field" column="depth1_field"></result>
        <result property="depth2Skill" column="depth2_skill"></result>
        <result property="depth3Course" column="depth3_course"></result>
    </resultMap>-->

    <!-- 수준별
    <resultMap type="EduInfoLevel" id="eduInfoLevelResultMap">
        <result property="eduLevelId" column="edu_level_id"></result>
        <result property="eduLevel" column="edu_level"></result>
        <result property="eduDetails" column="edu_details"></result>
        <result property="lectureNum" column="lecture_num"></result>
    </resultMap>-->

    <!-- 대분류 리스트 -->
    <select id="mainCategoryList" resultType="kr.co.tsis.education.userCommon.dto.LectureCategory">
        SELECT depth1_field 'depth1Field'
        FROM lecture_category
        GROUP BY depth1_field
    </select>

    <!-- 중분류 리스트 -->
    <select id="middleCategoryList" resultType="kr.co.tsis.education.userCommon.dto.LectureCategory">
        SELECT depth2_skill 'depth2Skill'
        FROM lecture_category
        WHERE depth1_field = #{depth1Field}
        GROUP BY depth2_skill
    </select>

    <!-- 소분류 리스트 -->
    <select id="subClassList" resultType="kr.co.tsis.education.userCommon.dto.LectureCategory">
        SELECT category_id 'categoryId', depth3_course 'depth3Course'
        FROM lecture_category
        WHERE depth1_field = #{depth1Field}
        AND depth2_skill = #{depth2Skill}
        GROUP BY category_id, depth3_course
    </select>

    <!-- 과정 수준 리스트 -->
    <select id="courseLevelList" resultType="kr.co.tsis.education.categoryByLecture.dto.EduInfoLevel">
        SELECT lev.edu_level 'eduLevel', COUNT(lec.edu_level_id) 'lectureNum'
        FROM education_level lev
        INNER JOIN lecture lec
        ON lec.edu_level_id = lev.edu_level_id
        WHERE lec.category_id = #{categoryId}
        GROUP BY lec.edu_level_id
    </select>

    <!-- 관심강좌 등록 -->
    <insert id="categoryWishListPush">
        INSERT INTO wishlist VALUES(#{empId},#{lectureId})
    </insert>

    <!-- 관심강좌 취소 -->
    <delete id="categoryWishListPop">
        DELETE FROM wishlist WHERE emp_id = #{empId} AND lecture_id = #{lectureId}
    </delete>

    <!-- 강좌갯수 구하기 -->
    <select id="selectLectureNum" resultType="int">
        SELECT count(lec.lecture_id)
        FROM lecture lec
        INNER JOIN academy acdm
        ON lec.academy_id = acdm.academy_id
        WHERE lec.category_id = #{categoryId}
        <if test='dataPush == "0"'>
            AND lec.edu_level_id = '0'
        </if>
        <if test='dataPush.equals("1")'>
            AND lec.edu_level_id = 'ET003'
        </if>
        <if test='dataPush == "2"'>
            AND lec.edu_level_id = 'ET002'
        </if>
        <if test='dataPush.equals("3")'>
            AND lec.edu_level_id IN ('ET002', 'ET003')
        </if>
        <if test='dataPush == "4"'>
            AND lec.edu_level_id = 'ET001'
        </if>
        <if test='dataPush == "5"'>
            AND lec.edu_level_id IN ('ET001', 'ET003')
        </if>
        <if test='dataPush == "6"'>
            AND lec.edu_level_id IN ('ET001', 'ET002')
        </if>
        <if test='dataPush =="7"'>
            AND lec.edu_level_id IN ('ET001', 'ET002', 'ET003')
        </if>
    </select>

    <!-- 과정 수준 클릭 -->
    <select id="selectLectureList" resultType="kr.co.tsis.education.categoryByLecture.dto.CategoryByLectureAll">
        SELECT exists(select*from wishlist where emp_id = #{empId} and lecture_id = lec.lecture_id) 'wishBool',
        lec.lecture_best_yn 'lectureBestYn', lec.lecture_title 'lectureTitle', lec.lecture_url 'lectureUrl', lec.online_yn 'onlineYn',
        acdm.academy_name 'academyName', acdm.academy_loc 'academyLoc', lecture_id 'lectureId'
        FROM lecture lec
        INNER JOIN academy acdm
        ON lec.academy_id = acdm.academy_id
        WHERE lec.category_id = #{categoryId}
        <!--<choose>
            <when test='dataPush.equals("3")'>AND lec.edu_level_id IN ('ET001')</when>
            <when test='dataPush.equals("7")'>AND lec.edu_level_id IN ('ET001', 'ET002', 'ET003')</when>
        </choose>-->
       <if test='dataPush == "0"'>
            AND lec.edu_level_id = '0'
        </if>
        <if test='dataPush.equals("1")'>
            AND lec.edu_level_id = 'ET003'
        </if>
        <if test='dataPush == "2"'>
            AND lec.edu_level_id = 'ET002'
        </if>
        <if test='dataPush.equals("3")'>
            AND lec.edu_level_id IN ('ET002', 'ET003')
        </if>
        <if test='dataPush == "4"'>
            AND lec.edu_level_id = 'ET001'
        </if>
        <if test='dataPush == "5"'>
            AND lec.edu_level_id IN ('ET001', 'ET003')
        </if>
        <if test='dataPush == "6"'>
            AND lec.edu_level_id IN ('ET001', 'ET002')
        </if>
        <if test='dataPush =="7"'>
            AND lec.edu_level_id IN ('ET001', 'ET002', 'ET003')
        </if>
        ORDER BY ${columnName}
        limit #{totalListNum} offset #{firstNum}
    </select>

</mapper>