<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MyLectureMapper">

    <resultMap type="MyLecture" id="myLectureResultMap">
        <result property="lectureId" column="lecture_id"></result>
        <result property="lectureTitle" column="lecture_title"></result>
        <result property="lectureUrl" column="lecture_url"></result>
        <result property="validYn" column="valid_yn"></result>
        <result property="onlineYn" column="online_yn"></result>
        <result property="lectureBestYn" column="lecture_best_yn"></result>
        <result property="categoryId" column="category_id"></result>
        <result property="academyId" column="academy_id"></result>
        <result property="eduLevelId" column="edu_level_id"></result>
        <result property="themeLectureId" column="theme_lecture_id"></result>
        <result property="requiredLectureId" column="required_lecture_id"></result>
        <result property="academySubjectId" column="academy_subject_id"></result>
        <result property="academyName" column="academy_name"></result>
        <result property="academyLoc" column="academy_loc"></result>
        <result property="academyUrl" column="academy_url"></result>
        <result property="academyDetails" column="academy_details"></result>
        <result property="academyLogoUrl" column="academy_logo_url"></result>
    </resultMap>

    <!-- 나의 강좌(필수강좌) -->
    <select id="myPageRequiredLecturesList" resultMap="myLectureResultMap">
        SELECT lec.lecture_id, lec.lecture_title, lec.lecture_url, aca.academy_logo_url, aca.academy_name
        FROM employee emp
        INNER JOIN required_lecture req
        ON emp.emp_position = req.emp_position
        AND emp.emp_years = req.emp_years
        INNER JOIN lecture lec
        ON lec.lecture_id = req.lecture_id
        INNER JOIN academy aca
        ON lec.academy_id = aca.academy_id
        WHERE emp.emp_id = #{empId}
        LIMIT 5
    </select>

    <!-- 관심강좌 -->
    <select id="myWishLecturesList" resultMap="myLectureResultMap">
        SELECT lec.lecture_id, lec.lecture_title, lec.lecture_url, aca.academy_logo_url, aca.academy_name
        FROM wishlist wish
        INNER JOIN lecture lec
        ON wish.lecture_id = lec.lecture_id
        INNER JOIN academy aca
        ON lec.academy_id = aca.academy_id
        WHERE wish.emp_id = #{empId}
        LIMIT 5
    </select>
</mapper>