<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!--  database.properties에서 설정 시 읽는 시점이 달라 Camel case  적용 안됨  -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
    <typeAliases>
        <!-- 사용자 공통사용-->
        <typeAlias type="kr.co.tsis.education.userCommon.dto.Academy" alias="Academy"></typeAlias>
        <typeAlias type="kr.co.tsis.education.userCommon.dto.AcademySubject" alias="AcademySubject"></typeAlias>
        <typeAlias type="kr.co.tsis.education.userCommon.dto.EducationLevel" alias="EducationLevel"></typeAlias>
        <typeAlias type="kr.co.tsis.education.userCommon.dto.Employee" alias="Employee"></typeAlias>
        <typeAlias type="kr.co.tsis.education.userCommon.dto.Guide" alias="Guide"></typeAlias>
        <typeAlias type="kr.co.tsis.education.userCommon.dto.Lecture" alias="Lecture"></typeAlias>
        <typeAlias type="kr.co.tsis.education.userCommon.dto.LectureCategory" alias="LectureCategory"></typeAlias>
        <typeAlias type="kr.co.tsis.education.userCommon.dto.RequiredLecture" alias="RequiredLecture"></typeAlias>
        <typeAlias type="kr.co.tsis.education.userCommon.dto.ThemeLecture" alias="ThemeLecture"></typeAlias>

        <!-- 주제별 강좌보기-->
        <typeAlias type="kr.co.tsis.education.subjectByLecture.dto.SubjectByLectureAll" alias="SubjectByLectureAll"></typeAlias>

        <!-- 수준별 강좌보기-->
        <typeAlias type="kr.co.tsis.education.categoryByLecture.dto.EduInfoLevel" alias="EduInfoLevel"></typeAlias>

        <!-- 나의 강좌(마이페이지)-->
        <typeAlias type="kr.co.tsis.education.myLecture.dto.MyLecture" alias="MyLecture"></typeAlias>

        <!-- 기관별 교육검색-->
        <typeAlias type="kr.co.tsis.education.trainingByInstitution.dto.TrainingInstitutionLectureAll" alias="TrainingInstitutionLectureAll"></typeAlias>

        <!-- 메인페이지-->
        <typeAlias type="kr.co.tsis.education.mainPage.dto.MainPageLecture" alias="MainPageLecture"></typeAlias>

        <!-- 레파지토리 -->
        <typeAlias type="kr.co.tsis.education.categoryByLecture.CategoryByLectureRepository" alias="CategoryByLectureMapper"></typeAlias>
        <typeAlias type="kr.co.tsis.education.mainPage.MainPageRepository" alias="MainPageMapper"></typeAlias>
        <typeAlias type="kr.co.tsis.education.majorEducational.MajorEducationalRepository" alias="MajorEducationalMapper"></typeAlias>
        <typeAlias type="kr.co.tsis.education.myLecture.MyLectureRepository" alias="MyLectureMapper"></typeAlias>
        <typeAlias type="kr.co.tsis.education.subjectByLecture.SubjectByLectureRepository" alias="SubjectByLectureMapper"></typeAlias>
        <typeAlias type="kr.co.tsis.education.trainingByInstitution.TrainingByInstitutionRepository" alias="TraningByInstitutionMapper"></typeAlias>



    </typeAliases>
    <!--<mappers>

        <mapper resource="mappers/majorEducational-mapper.xml"></mapper>
        <mapper resource="mappers/mainPage-mapper.xml"></mapper>
        <mapper resource="mappers/myLecture-mapper.xml"></mapper>
        <mapper resource="mappers/subjectByLecture-mapper.xml"></mapper>
        <mapper resource="mappers/categoryByLecture-mapper.xml"></mapper>
        <mapper resource="mappers/trainingByInstitution-mapper.xml"></mapper>
    </mappers>-->
</configuration>