<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
          integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/user/common.css">
    <title>기관별 강좌</title>
</head>

<body>
<!--sidebar-->
{{>user/common/index_sidebar}}
<!--/sidebar-->

<!--content-->
<div class="content">
    <!--header-->
    {{>user/common/index_header}}
    <!--header-->

    <!--section-->
    <section>
        <header class="academy-purple-header">
            <div class="academy-purple-header__select">
                <div class="academy-purple-header__select__academy">
                    <div class="academy-top-note">원하시는 기관을 선택해 주세요.</div>
                    <div class="academy-option">
                        <select class="academy-option__academy">
                        {{#academyList}}
                            <option value="{{academyId}}" location="{{academyLoc}}">{{academyName}}</option>
                        {{/academyList}}
                        </select>
                    </div>
                    <div class="academy-bottom-note">
                        <img class="academy-icon-sm" src="/img/location.svg">
                        <div></div>
                    </div>
                </div>
                <div class="academy-purple-header__select__course">
                    <div class="academy-top-note">원하시는 주제를 선택해 주세요.</div>
                    <div class="academy-option">
                        <select class="academy-option__subject">
                        </select>
                    </div>
                </div>
            </div>
        </header>

        <div class="academy-notice-bar">
            <div class="academy-notice-bar-icon">
                <img class="academy-icon-sm" src="/img/star.svg"> : 베스트강좌
                <img class="academy-icon-sm" src="/img/filledHeart.png"> : 관심강좌
            </div>
            <div>
                <img class="academy-icon-sm" src="/img/help.svg">
                <a href="/majorEducational/academyInfo">어떤 기관을 선택해야 할지 모르겠다면? 기관소개를 참고해보세요(클릭)</a>
            </div>
        </div>

        <ul class="academy-result">
            <li class="academy-result__title"></li>
            <li>
                <div></div>
                <div></div>
                <span>No.</span>
                <span class="academy-result__column--category-name">카테고리</span>
                <span class="academy-result__column--course-name">강좌명</span>
                <span class="academy-result__column--is-online">온라인/오프라인</span>
                <span>상세보기</span>
            </li>
        </ul>
    </section>
    <div class="academy-pagination">
        <div>
            <img class="academy-icon-sm" src="/img/pagingArrowLeft.png">
        </div>
        <ul class="academy-pagination__number">
        </ul>
        <div>
            <img class="academy-icon-sm" src="/img/pagingArrowRight.png">
        </div>
    </div>
    <!--/section-->

    <!--footer-->
    {{>user/common/index_footer}}
    <!--/footer-->
</div>
<!--content-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/AcademyEdu.js"></script>

</body>

</html>