<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <title>나의 강좌</title>
</head>
<body>
        <!--sidebar-->
        <div class="sidebar">
            <a href="03_Main.html"><img src="img/logo.png" class="logo" /></a>
            <ul class="sidebar_ul">
                <li>
                    <a href="04_RecommendationEdu.html">추천 강좌 보기</a>
                </li>
                <li>
                    <a href="05_SubjectEdu.html">주제별 교육 검색</a>
                </li>
                <li>
                    <a href="06_AcademyEdu.html">기관별 교육 검색</a>
                </li>
                <li>
                    <a href="07_SelectEdu.html">주요 교육기관</a>
                </li>
                <li>
                    <a href="08_LegendEdu.html">교육 주제 범례</a>
                </li>
                <li>
                    <a href="09_AdminMain.html">관리자</a>
                </li>
            </ul>
        </div>
        <!--/sidebar-->
    
        <!--content-->
        <div class="content">
            <!--header-->
            <header>
                <div class="login-info">
                    <span>죠르디님 환영합니다!</span>
                    <button type="button" class="logout">
                        <a href="01_Index.html">
                            로그아웃
                        </a>
                    </button>
                </div>
            </header>
            <!--header-->
    
            <!--section-->
            <section>
                <div class="DML_contents">
                    <div class="DML_greetings" id="DML_greetings">
                        {{employee.empName}} {{employee.empPosition}}님 환영합니다.
                    </div>
                    <div class="DML_anchors">
                        <button class="DML_anchorButton_necessary"><a href="#DML_display_lectures_necessary_title">필수 강좌</a></button>
                        <button class="DML_anchorButton_interest"><a href="#DML_display_lectures_interest_title">관심 강좌</a></button>
                    </div>
                    <div class="DML_display_lectures_necessary_container">
                        <div class="DML_display_lectures_necessary_title" id="DML_display_lectures_necessary_title">필수 강좌</div>
                        <ul class="DML_display_lectures_necessary_grid">
                            <!--강좌명, 교육기관명, 주제명, 해당기관 이미지url, 해당기관사이트url  -->
                            {{#requiredLectureList}}
                                <li class="DML_li"> 
                                    <a href="{{lectureUrl}}"><img src="{{academyLogoUrl}}" class="DML_gridImg"/></a>
                                    <!--밑 태그로 변경할것.-->
                                    <!--<a href="{{lectureUrl}}"><img src="{{academyLogoUrl}}" class="DML_gridImg"/></a>-->
                                    <div>{{academyName}}</div>
                                    <div>{{lectureTitle}}</div>
                                </li>
                            {{/requiredLectureList}}
                            {{^requiredLectureList}}
                                조회 결과 없음.
                            {{/requiredLectureList}}     
                        </ul>
                    </div>
                    <div class="DML_display_lectures_interest_container">
                        <div class="DML_display_lectures_interest_title" id="DML_display_lectures_interest_title">관심 강좌</div>
                        <ul class="DML_display_lectures_interest_grid">
                            <!--강좌명, 교육기관명, 주제명, 해당기관 이미지url, 해당기관사이트url  -->
                            {{#wishLectureList}}
                                <li class="DML_li">
                                    <a href="{{lectureUrl}}"><img src="{{academyLogoUrl}}" class="DML_gridImg"/></a>
                                    <!--밑 태그로 변경할것.-->
                                    <!--<a href="{{lectureUrl}}"><img src="{{academyLogoUrl}}" class="DML_gridImg"/></a>-->
                                    <div>{{academyName}}</div>
                                    <div>{{lectureTitle}}</div>
                                </li>
                            {{/wishLectureList}}
                            {{^wishLectureList}}
                                조회 결과 없음.
                            {{/wishLectureList}} 
                        </ul>
                    </div>
                </div>
                <div class="DML_toTopAnchor">
                    <div class="DML_toTopAnchorMargin"></div>
                    <div><a href="#DML_greetings"><img src="/img/toTop.png"/></a></div>
                </div>
            </section>
            <!--/section-->
    
            <!--footer-->
            <footer>
                <div class="footer-info">
                    <div>
                        <p>문의처</p>
                    </div>
                    <div>
                        <p>교육담당자 | 인사팀 정병석 과장</p>
                    </div>
                </div> 
            </footer>
        </div>
        <!--content-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/DisplayMyLectures.js"></script>
</body>
</html>