<!DOCTYPE HTML>

<html>

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="src/main/resources/static/css/user/LoginPage.css">
    </head>

    <body>
        <div class = "main-logo">
            <img src="src/main/resources/static/img/img_symbol.png">
        </div>

        <div class="filter">
        </div>


        <div class="login">
            <h1>Log in</h1>
            <form name="loginForm">
                <input class="input" type="text" placeholder="사원번호" id="userid" name="userid" maxlength="8"><br>
                <input class="input" type="password" placeholder="비밀번호" id="pwd" name="pwd" maxlength="20"><br>
                <input type="checkbox" id="idsave" name="idsave" ><labes>아이디 저장</labes><br>
                <button id="login" type="submit" onclick="btn_click();">Log in</button><br>

            </form>
        
        </div>

        <script src="src/main/resources/static/js/Login.js">

        </script>
    </body>
    
    
</html>