<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- <link rel="stylesheet" href="main.css"/> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="stylesheet" href="css/common.css">
    <title>Document</title>
    <style>
    </style>
</head>

<body>
    <!--sidebar-->
    <div class="sidebar">
        <a href="03_Main.html"><img src="img/logo.png" class="logo" /></a>
        <ul class="sidebar_ul">
            <li>
                <a href="04_RecommendationEdu.html">추천 강좌 보기</a>
            </li>
            <li>
                <a href="03_Main.html">고객 맞춤 강좌</a>
            </li>
            <li>
                <a href="05_SubjectEdu.html">주제별 교육 검색</a>
            </li>
            <li>
                <a href="06_AcademyEdu.html">기관별 교육 검색</a>
            </li>
            <li>
                <a href="07_SelectEdu.html">주요 교육기관</a>
            </li>
            <li>
                <a href="08_LegendEdu.html">교육 주제 범례</a>
            </li>
        </ul>
    </div>
    <!--/sidebar-->

    <!--content-->
    <div class="content">
        <!--header-->
        <header>
            <div class="login-info">
                <span>{{emp_name}} {{emp_position}} 환영합니다!</span>
                <button type="button" class="logout">
                    <a href="01_Index.html">
                        로그아웃
                    </a>
                </button>
            </div>
        </header>
        <!--header-->

        <!--section-->
        <section>
            <!--공지사항-->
            <div class="use-info">
                <div class="use-info-content">                    
                    <p class="p-info"><img src="img/loud-speaker.png" />공지사항</p>
                    <p class="p-info-text">최근 3년 간 티시스 IT사업본부 임직원이 참가한 주요 외부엄체 및 프로그램(온라인/오프라인)입니다.{{contents}}</p>
                </div>
            </div>
            <!--/공지사항-->

            <!--강좌 신규 개설-->
            <!-- <div class="notice-lecture">
                <img src="img/loud-speaker.png" />
                <p> 강좌 신규 개설</p>
                <marquee scrollamount="6" class="marquee-notice">
                    자바 프로그래밍 신규 강좌 5개가 추가되었습니다. (2021-03-12 FRI)
                </marquee>
            </div> {% endcomment %}-->
            <!--/강좌 신규 개설-->



            <!--안내문구-->
            <div class="info-contents">
            <!--연차별 필수 강좌-->
                <div class="info-detail"> 
                    <div class="info-imoji">
                        <p>연차별 필수 강좌<br></p>
                    </div>
                    <button type="button" class="more">
                        <a href="01_Index.html">
                            더보기
                        </a>
                    </button>
                    <div class="info-content"> 
                    {{requiredLectureList}}       
                        <div class="contentInside">
                            <div class="card-body">
                                <div class="card-body_thumb">
                                    <a href="{{url}}" target="_blank">
                                        <div class="institution-logo">
                                            <img class="logoImg" src="{{img}}">
                                        </div>
                                    </a>
                                </div>
                                <div class="card-body_cont">
                                    <div class="card-body_cont_name">
                                        <strong>{{강좌명}}</strong>
                                    </div>
                                    <div class="card-body_cont_info">
                                        {{멀티캠퍼스에서는 계정 등록 후 무료 강좌 제공하며 트랜드 IT기술 정보 제공합니다. 무료 강좌 제공하며 트랜드 IT기술 정보 제공합니다}}
                                    </div>
                                    <div class="card-body_cont_location">
                                        <span class="loc-acdm">{{멀티캠퍼스}}</span>
                                        <span class="loc-name">{{역삼역}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/requiredLectureList}}    
                    </div>
                </div>
                <!--연차별 필수 강좌-->

                <!--연차별 추천 강좌-->
                <div class="info-detail">
                    <div class="info-imoji">
                        <p>연차별 추천 강좌<br></p>
                    </div>
                    <button type="button" class="more">
                        <a href="01_Index.html">
                            더보기
                        </a>
                    </button>
                    <div class="info-content"> 
                        {{bestLectureList}}      
                        <div class="contentInside">
                            <div class="card-body">
                                <div class="card-body_thumb">
                                    <a href="{{https://www.multicampus.com}}" target="_blank">
                                        <div class="institution-logo">
                                            <img class="logoImg" src="{{img/institutionLogo.PNG}}">
                                        </div>
                                    </a>
                                </div>
                                <div class="card-body_cont">
                                    <div class="card-body_cont_name">
                                        <strong>{{멀티캠퍼스}}</strong>
                                    </div>
                                    <div class="card-body_cont_info">
                                        {{멀티캠퍼스에서는 계정 등록 후 무료 강좌 제공하며 트랜드 IT기술 정보 제공합니다. 무료 강좌 제공하며 트랜드 IT기술 정보 제공합니다. }}
                                    </div>
                                    <div class="card-body_cont_location">
                                        <span class="loc-acdm">{{멀티캠퍼스}}</span>
                                        <span class="loc-name">{{역삼역}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/bestLectureList}}
                    </div>
                </div>
                <!--연차별 추천 강좌-->


                <!--고객 맞춤 강좌-->
                <div class="info-detail">
                    <div class="info-imoji">
                        <p>고객 맞춤 강좌<br></p>
                    </div>
                    <button type="button" class="more">
                        <a href="01_Index.html">
                            더보기
                        </a>
                    </button>
                    <div class="info-content"> 
                        {{파이썬 추천}}       
                        <div class="contentInside">
                            <div class="card-body">
                                <div class="card-body_thumb">
                                    <a href="{{https://www.multicampus.com}}" target="_blank">
                                        <div class="institution-logo">
                                            <img class="logoImg" src="{{img/institutionLogo.PNG}}">
                                        </div>
                                    </a>
                                </div>
                                <div class="card-body_cont">
                                    <div class="card-body_cont_name">
                                        <strong>{{멀티캠퍼스}}</strong>
                                    </div>
                                    <div class="card-body_cont_info">
                                        {{멀티캠퍼스에서는 계정 등록 후 무료 강좌 제공하며 트랜드 IT기술 정보 제공합니다. 무료 강좌 제공하며 트랜드 IT기술 정보 제공합니다. }}
                                    </div>
                                    <div class="card-body_cont_location">
                                        <span class="loc-acdm">{{멀티캠퍼스}}</span>
                                        <span class="loc-name">{{역삼역}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/파이썬 추천}}
                    </div>
                </div>
                <!--고객 맞춤 강좌-->
            </div>
            <!--/안내문구-->
        </section>
        <!--/section-->

        <!--footer-->
        <footer>
            <div class="footer-info">
                <div>
                    <p>문의처</p>
                </div>
                <div>
                    <p>교육담당자 | 인사팀 정병석 과장</p>
                </div>
            </div>
            </div>
        </footer>
    <!--/footer-->
    </div>
    <!--content-->
</body>

</html>