<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- <link rel="stylesheet" href="main.css"/> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
          integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link href="css/common.css" rel="stylesheet">
    <title>Document</title>
    <style>
        :root {
            /*screen size*/
            --screen-width: 1920px;
            --screen-height: 1080px;

            /*color*/
            --color-light-beige: #FDFDFD;
            --color-light-sky-blue: #f1f8ff;
            --color-blue: #1d378b;
            --color-sky-blue: #4193D0;
            --color-dark-blue: #243887;
            --color-light-grey: #dbdbdb;
            --color-grey: #6D6E70;
            --color-dark-grey: #6D6E70;
            --color-black: #1e1e1e;

            /*font*/
            --font-small: 15px;
            --font-small-medium: 20px;
            --font-medium-large: 25px;

            /*margin*/
            --margin-small: 10px;
            --margin-small-medium: 15px;
            --margin-medium: 20px;
            --margin-medium-large: 25px;
            --margin-large: 30px;

            /*padding*/
            --padding-small: 10px;
            --padding-small-medium: 15px;
            --padding-medium: 20px;
            --padding-medium-large: 25px;
            --padding-large: 30px;
        }

        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 0;
            cursor: default;
            font-family: 'Noto Sans KR', sans-serif;
            width: var(--screen-width);
            height: var(--screen-height);
        }

        /*sidebar시작*/

        .sidebar {
            position: absolute;
            left: 0;
            background-color: var(--color-light-beige);
            width: 12%;
            height: var(--screen-height);
            border-right: solid 1px var(--color-light-grey);
            white-space: nowrap;
        }

        .logo {
            width: 200px;
            margin: var(--margin-medium-large) var(--margin-small);
        }

        .sidebar_ul {
            list-style: none;
            width: 100%;
            padding: 0;
        }

        .sidebar_ul>li {
            padding: calc(var(--padding-large)) var(--padding-small);
        }

        .sidebar_ul> :first-child {
            margin-top: calc(var(--margin-medium-large));
        }

        .sidebar_ul>li>a {
            font-size: calc(var(--font-medium-large)*0.9);
            font-weight: 500;
            text-decoration: none;
            color: var(--color-black);
        }

        .sidebar_ul>li:hover {
            border-right: 5px solid var(--color-sky-blue);
        }

        /*content 시작*/
        .content {
            position: absolute;
            right: 0;
            background-color: var(--color-light-beige);
            width: 88%;
            height: var(--screen-height);
            padding: var(--padding-small) var(--padding-medium);
            white-space: nowrap;
        }


        #contentWrapper{
            margin: 0 auto;
            max-width: 1100px;
			width: 1100px;
            position: relative;
		}

		.contentInside{
            display: table-cell;
            vertical-align: top;
			width: 25%;
			height: 300px;
			float: left;
			margin-top: 30px;
		    padding: 0 20px;
		}

		.card-body{
			margin: auto;
            border-radius: 15px;
            border: 1px solid darkgray;
			background: #f1f8ff;
            height: 300px;
            overflow: hidden;
		}

        .card-body:hover{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

		.body_top{
			width: 200px;
			height: 25px;
		}
		.institution-logo{
			margin: auto;
			text-align: center;
            width: 100%;
		}

        .card-body_cont{
		    padding: 0 7px;
        }

        .card-body_cont_name{
            font-size: 20px;
            color: #4e51d4;
            display: inline-block;
            vertical-align: middle;
            font-weight: 500;
        }

        .card-body_cont_info{
            font-size: 15px;

            /* 한 줄 자르기 */
            display: inline-block;
            width: 100%;
            margin-top: 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            /* 여러 줄 자르기 추가 스타일 */
            white-space: normal;
            line-height: 1.2;
            text-align: left;
            word-wrap: break-word;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        .card-body_cont_location{
            font-size: 13px;
            margin-top: 5px;
            text-align: right;
            position: absolute;
        }

		.logoImg{
			width: 100%;
			height: 150px;
		}
		.pagination{
			float: left;
			width: 100%;
			height: 100px;
		}


    </style>
</head>

<body>

<!--sidebar-->
<div class="sidebar">
    <a href="03_Main.html"><img src="img/logo.png" class="logo" /></a>
    <ul class="sidebar_ul">
        <li>
            <a href="04_RecommendationEdu.html">추천 강좌 보기</a>
        </li>
        <li>
            <a href="05_SubjectEdu.html">주제별 교육 검색</a>
        </li>
        <li>
            <a href="06_AcademyEdu.html">기관별 교육 검색</a>
        </li>
        <li>
            <a href="07_SelectEdu.html">주요 교육기관</a>
        </li>
        <li>
            <a href="08_LegendEdu.html">교육 주제 범례</a>
        </li>
        <li>
            <a href="09_AdminMain.html">관리자</a>
        </li>
    </ul>
</div>
<!--/sidebar-->

<!--content-->
<div class="content">
    {{>index_header}}
    <!--section-->
    <!-- 여기에 코드 넣으세요 -->
    <section>
        <div id="contentWrapper">
            {{#academies}}
                <div class="contentInside">
                    <div class="card-body">
                        <div class="card-body_thumb">
                            <a href="https://www.multicampus.com" target="_blank">
                                <div class="institution-logo">
                                    <img class="logoImg" src="../static/img/institutionLogo.PNG">
                                </div>
                            </a>
                        </div>
                        <div class="card-body_cont">
                            <div class="card-body_cont_name">
                                <strong></strong>
                            </div>
                            <div class="card-body_cont_info">
                                {{academy_name}}
                            </div>
                            <div class="card-body_cont_location">
                                역삼역
                            </div>
                        </div>
                    </div>
                </div>
            {{/academies}}

            {{^academies}}
                데이터 없음!
            {{/academies}}
        </div>
    </section>
    <!--/section-->

    {{>index_footer}}
</div>
<!--content-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.2.0/mustache.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/js/07_SelectEdu.js"></script>
</body>

</html>
