.alert-announce{
    text-align: center;
    font-size: 30px;
    font-family: 'SDSamliphopangche_Outline';
    margin-top: 20px;
}
.alert-infos,
.alert-buttons {
    font-size: 25px;
    font-family: 'Bazzi';
}
.alert-buttons{
    text-align: center;
}
.alert-infos {
    margin: 3rem;
}
.alert-infos > .infodetail {
    margin: 1rem;
}
.infodetail1{
    margin: 1rem;
    font-size: 25px;
    font-family: 'Bazzi';
    right: 100px;
}
.alert-list-count{
    border:none;
    cursor: default;
    width: 120px;
    background-color: white;
}
.alert-list-count1{
    border:none;
    cursor: default;
    width: 60px;
    background-color: white;
}
.alert-infos > .infodetail > label {
    float: left;
    position: absolute;
}

.alert-infos > .infodetail > input {
    margin-left: 10rem;
}
.alert-buttons > button {
    width: 5rem;
    padding: 0.7rem;
    margin-right: 1rem;
}
@font-face {
    font-family: 'Bazzi';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
