<link href="/css/user/footer.css" rel="stylesheet">
<footer>
    <div class="footer-info">
        <div>
            <p>문의처</p>
        </div>
        <div>
            <p>교육담당자 | 인사팀 정병석 과장</p>
        </div>
    </div>
</footer>