<style>
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-block;
    background-color: var(--color-light-grey);
}

.footer-info {
    padding: var(--padding-small-medium);
}
</style>
<footer>
    <div class="footer-info">
        <div>
            <p>문의처</p>
        </div>
        <div>
            <p>교육담당자 | 인사팀 정병석 과장</p>
        </div>
    </div>
</footer>