
<!--sidebar-->
<div class="sidebar">
    <a href="03_Main.html"><img src="img/logo.png" class="logo" /></a>
    <ul class="sidebar_ul">
        <li>
            <a href="04_RecommendationEdu.html">추천 강좌 보기</a>
        </li>
        <li>
            <a href="05_SubjectEdu.html">주제별 교육 검색</a>
        </li>
        <li>
            <a href="06_AcademyEdu.html">기관별 교육 검색</a>
        </li>
        <li>
            <a href="07_SelectEdu.html">주요 교육기관</a>
        </li>
        <li>
            <a href="08_LegendEdu.html">교육 주제 범례</a>
        </li>
        <li>
            <a href="09_AdminMain.html">관리자</a>
        </li>
    </ul>
</div>
<!--/sidebar-->