<link href="/css/user/sidebar.css" rel="stylesheet">
<!--sidebar-->
<div class="sidebar">
    <a href="/mainPage/mainInfo"><img src="/img/img_symbol.png" class="logo" /></a>
    <ul class="sidebar_ul">
        <li>
            <a href="/subjectByLecture/companyRecommendationTrend">주제별 강좌</a>
        </li>
        <li>
            <a href="/mainPage/cumstomizing">고객 맞춤 강좌</a>
        </li>
        <li>
            <a href="/categoryByLecture/mainCategoryKinds">카테고리별 강좌</a>
        </li>
        <li>
            <a href="/trainingByInstitution/trainingByInstitutionList">기관별 강좌</a>
        </li>
        <li>
            <a href="/majorEducational/academyInfo">교육기관</a>
        </li>
        <li>
            <a href="/CategoryPage/getCategoryDepth1">카테고리</a>
        </li>
        {{#authority}}
        <li>
            <a href="/admin">관리자</a>
        </li>
        {{/authority}}
        {{^authority}}

        {{/authority}}
    </ul>
</div>
<!--/sidebar-->