<link href="/css/user/header.css" rel="stylesheet">
<header id="header">
    {{#loginUser}}
    <div class="login-info">
        <a href="/myLecture/myLectureInfo" class = "gomypage">
            <span>나의 강좌</span>
            <i class="fas fa-shopping-cart"></i>
        </a>
        <span><strong>{{empName}}</strong>님 환영합니다!</span>
        <button type="button" class="logout">
            <a href="/employee/logout">
                로그아웃
            </a>
        </button>
    </div>
    {{/loginUser}}
</header>