<link href="/css/user/sidebar.css" rel="stylesheet">
<!--sidebar-->
<div class="sidebar">
    <a href="/"><img src="/img/img_symbol.png" class="logo" /></a>
    <ul class="sidebar_ul">
        <li>
            <a href="/subjectByLecture/companyRecommendationTrend">주제별 강좌</a>
        </li>
        <li>
            <a href="">추천 강좌</a>
        </li>
        <li>
            <a href="/categoryByLecture/mainCategoryKinds">카테고리별 강좌</a>
        </li>
        <li>
            <a href="/trainingByInstitution/trainingByInstitutionList">기관별 강좌</a>
        </li>
        <li>
            <a href="/myLecture/lectureList">교육기관</a>
        </li>
        <li>
            <a href="/CategoryPage/getCategoryDepth1">카테고리</a>
        </li>
    </ul>
</div>
<!--/sidebar-->