<link href="/css/user/header.css" rel="stylesheet">
<header id="header">
    {{#loginUser}}
    <div class="login-info">
        <a href="06_AcademyEdu.html" class = "login-info1">
            <span>나의 강좌</span>
            <i class="fas fa-shopping-cart"></i>
        </a>
        <span><strong>{{empName}}</strong>님 환영합니다!</span>
        <button type="button">
            <a href="${root}/member/logout">
                로그아웃
            </a>
        </button>
    </div>
    {{/loginUser}}
    {{^loginUser}}
    <div class="login-info">
        <span>죠르디님 환영합니다!</span>
        <a href="/myLecture/lectureList" class = "gomypage">
            <span>나의 강좌</span>
            <i class="fas fa-shopping-cart"></i>
        </a>
        <button type="button" class="logout">
            <a href="${root}/member/logout">
                로그아웃
            </a>
        </button>
    </div>
    {{/loginUser}}
</header>